<div class="ui inverted segment">

<sui-accordion [closeOthers]="false" class="ui inverted accordion">
    <sui-accordion-panel [isOpen]="true" class="attached segment">
        <div title>
            <i class="dropdown icon"></i>
            Metrics
        </div>
        <div class="ui inverted attached segment" content>
          <app-temporal-metrics *ngIf="mode === 'temporal'" (metricChange)="onMetricChange($event)"></app-temporal-metrics>
          <app-spatial-metrics *ngIf="mode === 'spatial'"></app-spatial-metrics>
        </div>
    </sui-accordion-panel>
    <sui-accordion-panel [(isOpen)]="options_panel" class="attached segment">
        <div title>
            <i class="dropdown icon"></i>
            Options
        </div>
        <div class="ui inverted attached segment" content>
          <app-temporal-options *ngIf="mode === 'temporal'" (burnTargetChange)="onBurnTargetChange($event)"></app-temporal-options>
          <app-spatial-options *ngIf="mode === 'spatial'"></app-spatial-options>

        </div>
    </sui-accordion-panel>
    <sui-accordion-panel [(isOpen)]="export_panel" class="attached segment">
        <div title>
            <i class="dropdown icon"></i>
            Export
        </div>
        <div class="ui inverted attached segment" content>
            <app-temporal-export *ngIf="mode === 'temporal'"></app-temporal-export>
            <app-spatial-export *ngIf="mode === 'spatial'"></app-spatial-export>
        </div>
    </sui-accordion-panel>
</sui-accordion>


</div>
