<ng-template let-option #optionTemplate>
    <i class="circle icon" [ngClass]="option.option"></i>{{ option.label }}
</ng-template>

<sui-multi-select [(ngModel)]="selected"
                  [options]="options"
                  labelField="label"
                  valueField="option"
                  [maxSelected]="4"
                  [optionTemplate]="optionTemplate"
                  icon="line chart"
                  (selectedOptionsChange)="onSelectedOptionsChange($event)"
                  #metric_select>
    <div class="ui icon search input">
        <i class="search icon"></i>
        <input suiSelectSearch type="text" placeholder="Search options...">
    </div>
    <div class="divider"></div>
    <div class="header">
        <i class="line chart icon"></i>
        Metrics
    </div>
    <div class="scrolling menu">
        <sui-select-option [value]="o" *ngFor="let o of metric_select.filteredOptions"></sui-select-option>
    </div>
</sui-multi-select>
