<div
    class="ui segment"
    *ngFor="let v of results"
>
    <table class="ui celled striped table">
        <thead>
            <tr>
                <th
                    class="ui"
                    *ngFor="let c of v.columns"
                >

                    <div class="ui fluid left labeled buttons">
                        <div class="ui basic fluid label">
                            {{ c }}
                        </div>
                        <div
                            class="ui icon button"
                            (click)="sortby(c, 'DESC')"
                        >
                            <i class="sort down icon"></i>
                        </div>
                        <div
                            class="ui icon button"
                            (click)="sortby(c, 'None')"
                        >
                            <i class="sort icon"></i>
                        </div>

                        <div
                            class="ui icon button"
                            (click)="sortby(c, 'ASC')"
                        >
                            <i class="sort up icon"></i>
                        </div>

                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of v.rows">
                <td *ngFor="let c of v.columns; let i = index">{{ r[i] }}</td>
            </tr>
        </tbody>
    </table>
    <fui-pagination
        [collectionSize]="v.rows.length"
        [pageSize]="1"
        [hasNavigationLinks]="true"
        [hasBoundaryLinks]="true"
        [(page)]="selectedPage"
    >
    </fui-pagination>
</div>