/* CSS */
/* --midnight-green-eagle-green: hsla(188, 56%, 23%, 1);
--gold-crayola: hsla(40, 55%, 69%, 1);
--morning-blue: hsla(152, 7%, 61%, 1);
--dark-sienna: hsla(352, 49%, 9%, 1);
--amazon: hsla(138, 25%, 39%, 1); */



.ui.shadow.segment.subtle {
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.37);
}
