<div class="ui container">
    <div class="ui page horizontal middle aligned raised segments">

        <div class="ui bdazzledblue inverted center aligned segment">
            <div class="ui inverted icon header">
                <i class="user plus circular icon"></i>
                Researchers
            </div>
            <div class="ui bdazzledblue inverted subtle shadow segment">
                description goes here
            </div>

            <div class="ui fluid vertical buttons">

            <button class="ui primary icon right labeled button">
                <i class="sign-in icon"></i> Log in
              </button>
              <button class="ui grey icon right labeled button">
                  <i class="mail icon"></i> Register
                </button>
            </div>

        </div>
        <div class="ui maxgreen inverted center aligned segment">
            <div class="ui inverted icon header">
                <i class="user circular icon"></i>
                Registered Users
            </div>
            <div class="ui maxgreen inverted subtle shadow segment">
                description goes here
            </div>

                        <div class="ui fluid vertical buttons">
            <button class="ui primary icon right labeled button">
                <i class="sign-in icon"></i> Log in
            </button></div>
        </div>
        <div class="ui amazon inverted center aligned segment">
            <div class="ui inverted icon header">
                <i class="circular users icon"></i>
                Public Access
            </div>
            <div class="ui amazon inverted subtle shadow segment">
                description goes here
            </div>
            <div class="ui fluid vertical buttons">

            <button class="ui primary icon right labeled button">
                <i class="envelope icon"></i> Email
            </button>

            <button class="ui facebook icon right labeled button">
              <i class="facebook icon"></i>
              Facebook
            </button>
            <button class="ui twitter icon right labeled button">
              <i class="twitter icon"></i>
              Twitter
            </button>
            <button class="ui google icon right labeled button">
              <i class="google icon"></i>
              Google
            </button>
          </div>


        </div>
    </div>
</div>
