<div class="ui vertical stripe inverted blue segment" *ngIf="about">
  <div class="ui main text container">
    <div class="ui grid" >
      <div class="ui four wide column">
        <img class="ui fluid small circular image" src="/assets/images/frozone.jpg">
      </div>
      <div class="ui twelve wide column">
        <h1 class="ui huge inverted header">DSS: Frozone</h1>
        <h5>An Analysis Tool for the FROST ecosystem of software.</h5>
      </div>
    </div>
    <app-notifications></app-notifications>
  </div>
</div>
<app-nav [title]="title" [routes]="routes"></app-nav>
