body,
html {
  background-color: rgb(27,28,29);
}

.SiteContainer {
  /* display: flex; */
  /* max-height: 100vh; */
  /* flex-direction: column; */

  /* align-items: stretch;
  align-content: stretch;
  align-self: stretch; */
  /* height: 100vh; */
  background-color: rgb(27,28,29);
  height: 100vh;
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

 #header {
    box-shadow: 0px 10px 15px rgb(27,28,29);

}
#header .menu {
    border-radius: 0;
}

#footer
.ui.bottom.attached.inverted.footer.segment {
background: rgb(27,28,29);
}

.vertical.stripe {
  padding-top: 2em;
  padding-bottom: 2em;
}
.ui.vertical.transparent.overlay.bottom.sidebar ,
.ui.transparent.overlay.bottom.sidebar ,
.ui.inverted.vertical.transparent.overlay.bottom.sidebar ,
.ui.inverted.transparent.overlay.bottom.sidebar {
    background: transparent !important;
    border-radius: none;
}

.ui.translucent {
    background-color: rgba(27,28,29, 0.75) !important;
}

.pushable {
    height: auto !important;
}


.ui.viewport {
    /* flex: 1; */
    overflow-y: scroll;
    display:block;
    padding-bottom: 15em;
    /* height: calc(100vh - 4em - 10em); */
}
.flexy {
    flex: 1;
}
.not_flexy {
    flex: 0;
}
.foot_panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}
