<div class="ui top attached inverted black menu">

  <a href="" class="item"><i class="ui server icon"></i> Data Sources</a>

    <div class="right menu">

    <a class="right labeled item" (click)="sidebar.toggle()">
        <i class="wrench icon"></i> Tools
    </a>
  </div>
</div>
<sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar
     [transition]="'overlay'"
     [isVisible]="true"
     class="inverted vertical very wide translucent raised segment"
     direction="right"
     #sidebar>




     <div class="ui inverted dense segment">
      <app-metrics
       [mode]="'charting'"
       (metricsChange)="onMetricsChange($event)"
       >
      </app-metrics>
      <app-choiceflow></app-choiceflow>
      <app-charting-options
        (burnTargetsChange)="onBurnTargetsChange($event)">
      </app-charting-options>
    </div>

    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui page">
      <div class="ui grid">

        <div class="ui row">

          <div class="ui five wide column">
            <app-y-axis-chooser></app-y-axis-chooser>
            <div class="ui divider"></div>
              <app-interpretation></app-interpretation>
          </div>

          <div class="ui eleven wide column">
            <h2 class="ui header">(Chart Title)</h2>
            <div class="ui segment chart-container">
              <canvas id='boxchart' #boxchart></canvas>
            </div>
            <app-x-axis-chooser></app-x-axis-chooser>
          </div>

        </div>

        <div class="ui row">
          <div class="ui five wide column"></div>
          <div class="ui eleven wide column">
            <div class="ui segment chart-container">
            <canvas id='violin' #violin></canvas>
          </div>
        </div>

          <!-- <div class="ui eight wide column">
            <div class="ui segment chart-container">
              <canvas id='scatterchart' #scatterchart></canvas>
            </div>
          </div> -->
        </div>
      </div>
    </div>


    </sui-sidebar-sibling>
</sui-sidebar-container>
