<div class="ui inverted segment curvy">
    <div class="ui top attached inverted segment">
        <h1 class="ui center aligned inverted header">
            <span [ngClass]="cssClassName">
                <i class="icon" [ngClass]="icon"></i>
            </span>
            {{ metricLabel }}
        </h1>
    </div>


    <div class="attached inverted segment">
        <div class="ui two column stackable grid">

            <div class="ui column" *ngIf="moduleViews.indexOf('box') != -1;">
                <div class="ui segment">
                    <i class="chart area icon"></i>

                    <app-boxplot
                    [isDimmed]="summaryDimmed"
                    [message]="summarymessage"
                    [dataframe]="summarytable"
                    [boxplotName]="cssClassName + '_box_' + id"
                    [baseColor]="color"
                    [borderColor]="borderColor"
                    #boxplot></app-boxplot>
                </div>
            </div>

            <div class="ui column" *ngIf="moduleViews.indexOf('histo') != -1;">
                <div class="ui segment">
                    <i class="chart bar icon"></i>
                    <app-histogram
                    [isDimmed]="summaryDimmed"
                    [message]="summarymessage"
                    [dataframe]="summarytable"
                    [baseColor]="color"
                    [borderColor]="borderColor"
                    #histogram></app-histogram>
                </div>
            </div>

            <div class="ui column" *ngIf="moduleViews.indexOf('line') != -1;">
                <div class="ui segment">
                    <i class="chart line icon"></i>
                    <!-- <app-linechart
                    [(dataframe)]="dataframe"
                    [ident]="'line'"
                    [baseColor]="color"
                    [borderColor]="borderColor"
                    #chartone></app-linechart> -->
                </div>
            </div>

            <div class="ui column" *ngIf="moduleViews.indexOf('cumul') != -1;">
                <div class="ui segment">
                    <i class="chart line icon"></i>
                    <!-- <app-linechart
                    [(dataframe)]="dataframe"
                    [ident]="'cumul'"
                    [baseColor]="color"
                    [borderColor]="borderColor"
                     #charttwo></app-linechart> -->
                </div>
            </div>

            <div class="ui column" *ngIf="moduleViews.indexOf('time') != -1;">
                <div class="ui segment">
                    <i class="chart line icon"></i>
                </div>
            </div>

            <div class="ui column" *ngIf="moduleViews.indexOf('uncertainty') != -1;">
                <div class="ui segment">
                    <i class="balance scale icon"></i>
                </div>
            </div>


            <div class="ui column" *ngIf="moduleViews.indexOf('replicates') != -1;">
                <div class="ui segment">
                    <i class="sliders horizontal icon"></i> Choose a subset of Replicates.
                    <app-replicates (repsRangeChange)="onRepsRangeChange($event)"></app-replicates>
                </div>
            </div>
        </div>
    </div>

    <div class="ui attached inverted segment" *ngIf="moduleViews.indexOf('gauges') != -1;">

        <i class="tachometer alternate icon"></i>
        <div class="ui stackable grid">
            <div class="ui row">



                <div class="ui center middle aligned four wide column" *ngFor="let s of stats" >
                    <app-statview
                        [isDimmed]="summaryDimmed"
                        [value]="valueFor(s, metricLabel) | number:'1.0-2'"
                        [label]="s + ' ' + metricLabel"
                        [borderColor]="borderColor"
                    ></app-statview>
                </div>
            </div>
        </div>
    </div>

    <div class="attached inverted raised segment">
        <h3 class="ui center aligned header">
            <span [ngClass]="cssClassName">
                <i class="table icon"></i>
            </span> {{metricLabel}} (Summary)
        </h3>
        <app-dataframe-table
        [(dataframe)]="summarytable"

        [isDimmed]="summaryDimmed"
        [message]="summarymessage"
        #dfsummarytable
        ></app-dataframe-table>
    </div>

    <div class="attached inverted raised segment">
        <h3 class="ui center aligned header">
            <span [ngClass]="cssClassName">
                <i class="table icon"></i>
            </span> {{metricLabel}}
        </h3>
        <app-dataframe-table
        [(dataframe)]="dataframe"

        [isDimmed]="dfDimmed"
        [message]="dfmessage"
        #dftable
        ></app-dataframe-table>
    </div>
    <div class="ui bottom attached inverted segment">Export this data as <a href="#">PDF</a>, or <a href="#">CSV</a>.</div>
</div>
