<div class="ui container">

    <div
        class="ui segment"
        *ngFor="let v of results"
    >
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th
                        class="ui header"
                        *ngFor="let c of v.columns"
                    >{{ c }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of v.rows">
                    <td *ngFor="let c of v.columns; let i = index">{{ r[i] }}</td>
                </tr>
            </tbody>
        </table>
        <fui-pagination
            [collectionSize]="v.rows.length"
            [pageSize]="1"
            [hasNavigationLinks]="true"
            [hasBoundaryLinks]="true"
            [(page)]="selectedPage"
        >
        </fui-pagination>
    </div>

</div>