<div class="ui form" *ngIf="this.metrics.length > 0 && checkActive()">
    <div class="grouped fields">
      <h5 class="ui inverted header">Viewsheds</h5>

      <div class="ui field" [ngClass]="{'engaged': all}">
        <sui-checkbox class="fluid tiny toggle" [(ngModel)]="all" (checkChange)="toggleAll()">
          <span class="inverted">All viewsheds</span>
        </sui-checkbox>
      </div>

      <div class="ui list fieldset" #viewsheds>
        <div class="item field" *ngFor="let c of viewshed_options" [ngClass]="{'engaged': c.active}">
          <sui-checkbox class="fluid tiny toggle" [(ngModel)]="c.active">
            <i class="circle icon" [ngClass]="c.color"></i>
            <span class="inverted">{{ c.label }}</span>
          </sui-checkbox>
        </div>
      </div>
    </div>
  </div>
