<div class="ui form" *ngIf="this.metrics.length > 0 && checkActive() ">

  <h3 class="ui inverted header explain">Catchments <app-explanation-link></app-explanation-link></h3>

    <div class="grouped fields">

      <div class="ui field" [ngClass]="{'engaged': all}">
        <fui-checkbox class="fluid tiny toggle"
        [(ngModel)]="all"
        (checkChange)="toggleAll()">
          <span class="inverted">All catchments</span>
        </fui-checkbox>
      </div>

      <div class="ui list fieldset" #catchments>
        <div class="item field" *ngFor="let c of catchment_options" [ngClass]="{'engaged': c.active}">
          <fui-checkbox class="fluid tiny toggle" [(ngModel)]="c.active">
            <i class="circle icon" [ngClass]="c.color"></i>
            <span class="inverted">{{c.label}}</span>
          </fui-checkbox>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>
  </div>
