.pistachio { background-color: #99D17B !important; }
.maxgreen  { background-color: #4D8B31 !important; }
.starcommandblue { background-color: #2274a5 !important; }
.tealblue { background-color: #598392 !important; }
