<div class="ui inverted segment">
    <h2 class="ui header">Available Metrics</h2>
    <div class="ui inverted list">
        <div class="ui inverted item" *ngFor="let v of initvals; let i = index;" [ngClass]="v.class">
            <div class="header">
                <a class="item" [ngClass]="v.class">
                    <span [ngClass]="v.class" style="padding-right: 1em;">
                        <i class="icon" [ngClass]="v.icon"></i> {{i+1}}.
                    </span>
                    {{v.label}}
                </a>
            </div>

            <div class="ui inverted list" *ngIf="v.views.length > 0">
                <li class="ui item" *ngFor="let c of v.views; let tier = index;">
                    <div class="ui inverted pointing menu" *ngIf="userAccessLevel >= c.access">
                        <a class="ui item" (click)="c.active = !c.active">
                            <span [ngClass]="v.class" style="padding-right: 1em;">{{i+1}}.{{tier+1}}</span> {{c.label}}
                        </a>
                        <div class="right menu">
                            <span class="ui item" *ngFor="let m of c.modules">
                                <i class="chart bar icon" style="color: {{ v.borderColor }};" *ngIf="m == 'bar'"></i>
                                <i class="chart line icon" style="color: {{v.borderColor}};" *ngIf="m == 'line'"></i>
                                <i class="chart area icon" style="color: {{v.borderColor}};" *ngIf="m == 'histo'"></i>
                                <i class="chart line icon" style="color: {{v.borderColor}};" *ngIf="m == 'cumul'"></i>
                                <i class="tachometer alternate icon" style="color: {{v.borderColor}};" *ngIf="m == 'gauges'"></i>
                                <i class="balance scale icon" style="color: {{v.borderColor}};" *ngIf="m == 'uncertainty'"></i>
                                <i class="clock outline icon" style="color: {{v.borderColor}};" *ngIf="m == 'time'"></i>
                                <i class="chart pie icon" style="color: {{v.borderColor}};" *ngIf="m == 'choice'"></i>
                                <i class="sliders horizontal icon" style="color: {{v.borderColor}};" *ngIf="m == 'replicates'"></i>
                                <i class="table icon" style="color: {{v.borderColor}};" *ngIf="m == 'box'"></i>
                            </span>
                        </div>
                    </div>
                    <app-metric-specifics *ngIf="c.active"
                    [rawdatasql]="c.rawdatasql"
                    [summarysql]="c.summarysql"
                    [id]="v.option + '_' + (i+1) + '_' + (tier+1)"
                    [cssClassName]="v.class"
                    [color]="v.color"
                    [borderColor]="v.border"
                    [moduleViews]="c.modules"
                    [icon]="v.icon"
                    [metricLabel]="c.label"
                    [which]="v.option"
                    [measures]="v.label"
                    [stats]="c.table"></app-metric-specifics>
                </li>
            </div>
        </div>
    </div>
</div>
