<div class="ui top attached segment">

    <div class="ui center aligned statistics">
        <div class="statistic">
            <div class="value">
                0
            </div>
            <div class="label">
                <i class="ui pistachio user icon"></i>
                Min. People Exposed
            </div>
        </div>

        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                <i class="ui crimson user icon"></i>
                Max. People Exposed
            </div>
        </div>

        <div class="statistic">
            <div class="value">
                0
            </div>
            <div class="label">
                <i class="ui pistachio user icon"></i> Min. Lives Lost
            </div>
        </div>

        <div class="statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                <i class="ui crimson user icon"></i>
                Max. Lives Lost
            </div>
        </div>
    </div>
</div>
<div class="ui inverted bottom attached segment">
    <div class="ui inverted horizontal statistics">
        <div class="ui inverted statistic">
            <div class="value">
                2,204
            </div>
            <div class="label">
                Views
            </div>
        </div>
        <div class="ui inverted statistic">
            <div class="value">
                3,322
            </div>
            <div class="label">
                Downloads
            </div>
        </div>
        <div class="ui inverted statistic">
            <div class="value">
                22
            </div>
            <div class="label">
                Tasks
            </div>
        </div>
    </div>
</div>