<footer>
    <div class="ui inverted attached segment">

        <div class="ui center aligned container">
            <img
                src="assets/images/frozone.jpg"
                class="ui centered tiny circular image"
            >
            <p>
                {{title}} - {{version}}
            </p>
        </div>
    </div>
    <div class="ui inverted attached segment black">

        <div class="ui center aligned container ">
            <div class="ui horizontal inverted small divided link list">
                <a
                    class="item"
                    href="#"
                >Site Map</a>
                <a
                    class="item"
                    href="#"
                >Contact Us</a>
                <a
                    class="item"
                    href="#"
                >Terms and Conditions</a>
                <a
                    class="item"
                    href="#"
                >Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>