<h5 class="ui inverted header">Playback Options</h5>
<div class="ui fluid buttons">
  <button class="ui inverted black icon button"><i class="step backward icon"></i></button>
  <button class="ui inverted black icon button"><i class="backward icon"></i></button>
  <button class="ui inverted black icon button"><i class="stop icon"></i></button>
  <button class="ui inverted black icon button"><i class="play icon"></i></button>
  <button class="ui inverted black icon button"><i class="pause icon"></i></button>
  <button class="ui inverted black icon button"><i class="forward icon"></i></button>
  <button class="ui inverted black icon button"><i class="step forward icon"></i></button>
</div>
<div class="small center aligned text inverted">Now viewing: step 23 of 0-100</div>
