/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

/* @import '~@swimlane/ngx-datatable/index.css'; */
/* @import '~@swimlane/ngx-datatable/themes/material.scss'; */
/* @import '~@swimlane/ngx-datatable/assets/icons.css'; */

*.blue.button.darker.active,
*.blue.button.darker.active:active {
  background-color: #73f06c !important;
  color: #000000;
}

*.menu.black, *.segment.black { background-color: #000000 !important; }
*.menu.richblackfogra, *.segment.richblackfogra { background-color: #01161e !important; }
*.menu.blackchocolate, *.segment.blackchocolate { background-color: #1f1300 !important; }
*.menu.darksienna, *.segment.darksienna { background-color: #230c0f !important; }
*.menu.jet, *.segment.jet { background-color: #333232 !important; }
*.menu.beige, *.segment.beige { background-color: #eff6e0 !important; }
*.menu.tumbleweed, *.segment.tumbleweed { background-color: #e0ab8f !important; }
*.menu.crimson, *.segment.crimson { background-color: #d7263d !important; }
*.menu.darkliverhorses, *.segment.darkliverhorses { background-color: #5b3e35 !important; }
*.menu.bole, *.segment.bole { background-color: #824938 !important; }
*.menu.copper, *.segment.copper { background-color: #D1603D !important; }
*.menu.shadowbrown, *.segment.shadowbrown { background-color: #88795c !important; }
*.menu.goldcrayola, *.segment.goldcrayola { background-color: #dcbf85 !important; }
*.menu.teagreen, *.segment.teagreen { background-color: #C4E4AE !important; }
*.menu.pistachio, *.segment.pistachio { background-color: #99D17B !important; }
*.menu.amazon, *.segment.amazon { background-color: #4a7c59 !important; }
*.menu.ferngreen, *.segment.ferngreen { background-color: #697B5B !important; }
*.menu.maxgreen, *.segment.maxgreen  { background-color: #4D8B31 !important; }
*.menu.darkjunglegreen, *.segment.darkjunglegreen { background-color: #1f2421 !important; }
*.menu.midnighteagle, *.segment.midnighteagle { background-color: #124559 !important; }
*.menu.midnight, *.segment.midnight { background-color: #1a535c !important; }
*.menu.bdazzledblue, *.segment.bdazzledblue { background-color: #3B5998 !important; }
*.menu.starcommandblue, *.segment.starcommandblue { background-color: #2274a5 !important; }
*.menu.tealblue, *.segment.tealblue { background-color: #598392 !important; }
*.menu.airblue, *.segment.airblue { background-color: #78A1BB !important; }
*.menu.morningblue, *.segment.morningblue { background-color: #93a29b !important; }
*.menu.cambridge, *.segment.cambridge { background-color: #aec3b0 !important; }
*.menu.mintcream, *.segment.mintcream { background-color: #EBF5EE !important; }

i.ui.icon.richblackfogra { color: #01161e !important; }
i.ui.icon.black-chocolate { color: #1f1300 !important; }
i.ui.icon.darksienna { color: #230c0f !important; }
i.ui.icon.jet { color: #333232 !important; }
i.ui.icon.beige { color: #eff6e0 !important; }
i.ui.icon.tumbleweed { color: #e0ab8f !important; }
i.ui.icon.crimson { color: #d7263d !important; }
i.ui.icon.darkliverhorses { color: #5b3e35 !important; }
i.ui.icon.bole { color: #824938 !important; }
i.ui.icon.copper { color: #D1603D !important; }
i.ui.icon.shadowbrown { color: #88795c !important; }
i.ui.icon.goldcrayola { color: #dcbf85 !important; }
i.ui.icon.teagreen { color: #C4E4AE !important; }
i.ui.icon.pistachio { color: #99D17B !important; }
i.ui.icon.amazon { color: #4a7c59 !important; }
i.ui.icon.ferngreen { color: #697B5B !important; }
i.ui.icon.maxgreen  { color: #4D8B31 !important; }
i.ui.icon.darkjunglegreen { color: #1f2421 !important; }
i.ui.icon.midnighteagle { color: #124559 !important; }
i.ui.icon.midnight { color: #1a535c !important; }
i.ui.icon.bdazzledblue { color: #3B5998 !important; }
i.ui.icon.starcommandblue { color: #2274a5 !important; }
i.ui.icon.tealblue { color: #598392 !important; }
i.ui.icon.airblue { color: #78A1BB !important; }
i.ui.icon.morningblue { color: #93a29b !important; }
i.ui.icon.cambridge { color: #aec3b0 !important; }
i.ui.icon.mintcream { color: #EBF5EE !important; }






*.segment.screamingreen { background-color: #73F06C !important; }
*.segment.malachite { background-color: #6BDA72 !important; }
*.segment.emerald { background-color: #63C579 !important; }
*.segment.shinyshamrock { background-color: #5BAF7F !important; }
*.segment.polishedpine { background-color: #539A85 !important; }
*.segment.steelteal { background-color: #4B848B !important; }
*.segment.queenblue { background-color: #436F92 !important; }
*.segment.bdazzledblue { background-color: #3B5998 !important; }


*.ui.segments,
*.ui.raised.segments,
*.ui.inverted.segment,
*.ui.inverted.attached.segment,
*.ui.inverted.segments,
*.ui.attached.segments,
*.ui.attached.segment {
  border-width: 0 !important;
}

.ui.styled.accordion.inverted .dropdown.icon,
.ui.styled.accordion.inverted .accordion .dropdown.icon {
    color: #2274a5;
}

.ui.styled.accordion.inverted .active.title .dropdown.icon,
.ui.styled.accordion.inverted .accordion .active.title .dropdown.icon {
    color: #d7263d !important;
}



.circle.icon.house_loss {
  color: rgba(74, 31, 31, 0.67);
  /* border: 1px solid #4A1F1F;
  border-radius: 16px; */
}
.circle.icon.life_loss {
  color: rgba(168, 95, 41, 0.67);
  /* border: 1px solid #A85F29;
  border-radius: 16px; */
}
.circle.icon.bio_diversity {
  color: rgba(73, 96, 9, 0.67);
  /* border: 1px solid #496009;
  border-radius: 16px; */
}
.circle.icon.viewshed {
  color: rgba(11, 135, 162, 0.67);
  /* border: 1px solid #0B87A2;
  border-radius: 16px; */
}
.circle.icon.carbon {
  color: rgba(0,0,0, 0.68);
  /* border: 1px solid #000000;
  border-radius: 16px; */
}
.circle.icon.debris_flow {
  color: rgba(39, 56, 89, 0.67);
  /* border: 1px solid #273859;
  border-radius: 16px; */
}
.circle.icon.water_yield {
  color: rgba(13, 88, 158, 0.67);
  /* border: 1px solid #0D589E;
  border-radius: 16px; */
}
.circle.icon.rusle {
  color: rgba(83, 87, 23, 0.67);
  /* border: 1px solid #535717;
  border-radius: 16px; */
}
.circle.icon.mean_erosion_rate {
  color: rgba(61, 38, 51, 0.68);
  /* border: 1px solid #3D2633;
  border-radius: 16px; */
}
.circle.icon.infrastructure {
  color: rgba(18, 107, 56, 0.66);
  /* border: 1px solid #126B38;
  border-radius: 16px; */
}
.circle.icon.p_burn {
  color: rgba(236, 115, 27, 0.67);
  /* border: 1px solid #EC731B;
  border-radius: 16px; */
}
.circle.icon.gma {
  color: rgba(30, 38, 222, 0.67);
  /* border: 1px solid #1E26DE;
  border-radius: 16px; */
}
.ui.link.cards div.ui.fluid.card,
.ui.link.cards div.ui.fluid.card .div.content,
.ui.link.cards div.ui.fluid.card.active,
.ui.link.cards div.ui.fluid.card.active:hover {
    border: 0px solid #000000 !important;
  /* Make it subtly glow on dark backgrounds */
    background-color: #FFFFFF !important;
}

.ui.link.cards div.ui.fluid.card:hover,
.ui.link.cards div.ui.fluid.card.active,
.ui.link.cards div.ui.fluid.card.active:hover {
    border: 0 !important;
  /* Make it subtly glow on dark backgrounds */
    background-color: #FFFFFF !important;
  box-shadow: 0px 0px 15px #73f06c !important;
}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.ui.inverted.segment.curvy,
.ui.inverted.segment.curvy .dimmer {
    border-radius: 8px;
}
